.thead-dark, .box-footer-dark, .pagination > li > a, .box-footer-dark >ul > li > span{
  background: rgb(26, 34, 38) !important;
  color: rgb(255,255,255);
}

.box-footer-dark >ul > .active > span{
   background: rgb(255,255,255) !important;
   border-color: rgb(255,255,255);
   color: rgb(26, 34, 38);
}

.box-footer-dark >ul > .active > span:hover{
  color: rgb(26, 34, 38);
}

.box-footer-dark>ul{
  margin: 0;
  float: right;
}

.box{
  max-width: 1000px;
  margin: 0 auto;
}

tr, .box-title-upper{
  text-transform: uppercase;
}

#box-title{
  font-size: 15px;
}

#button-view{
  font-size: 10px;
}

.th-large{
  min-width: 150px;
}

.th-medium{
  min-width: 90px;
}

.label-title{
  background-color: #A93226;
}

.btn-dark{
	background-color: rgb(26, 34, 38);
	border-color: rgb(26, 34, 38);
	color: rgb(255,255,255);
}

.box-body-solid{
  background: rgb(210, 214, 222);
}

.label-hour{
  background-color: rgb(255,255,255) !important;
  color: rgb(51, 51, 51);
}

.td-center{
  text-align: center;
}